<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<div>
    学生列表:
    <ul>
        {{each heros}}
        <li>
            {{$value.name}}
            <img src="{{$value.img}}">
        </li>
        {{/each}}
    </ul>
<!-- 同步上传表单一定要加上enctype-->
<form action="/add" method="post" enctype="multipart/form-data">
    name:<input type="text" name="nickname"/>
    avatar:<input type="file" name="avatar"/>
    <button>add</button>
</form>
</div>
</body>
</html>