<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list</title>
</head>
<body>
当前在线人数: <span class="online"></span>
<button class="male">男生组</button> <button class="female">女生组</button>
<hr/>
组聊: <input type="text" name="" class="groupMsg"> <button class="sendGroupMsg">发起组聊</button>
<hr/>             <!--选中的option的value会自动赋值给select的value-->
对 <select class="towho" onchange="privateTo = this.value"></select>
说: <input type="text" name="" class="privateMsg"> <button class="sendPrivateMsg">发起私聊</button>
<hr/>
<div class="box">
<!--    不再手动自定义消息列表-->
<!--    {{each msgs}}-->
    <ul class="list">
<!--        <li>{{$value.username}}:-->
<!--            {{$value.content}}</li>-->
    </ul>
<!--    {{/each}}-->
</div>

Dear {{username}} 您好,请说话: <textarea class="newContent"></textarea> <button class="btn">发送</button>
<script src="/socket.io/socket.io.js"></script>
<script>
    // 给客户端分配了socket和socket-id 尽量放在这边了
    var socket = io('http://localhost:3000');
    socket.on('connect', function(){
        console.info('连接上了');
        // 此时可以做登录状态，也就是同步前后端的信息,这里和app.js里面的io.on('login',()=>{})对应
        socket.emit('login',{
            id:{{id}}
        });
    });
    // 以下是暂时没用到的无用代码
    // socket.on('event', function(data){});
    // socket.on('disconnect', function(){});
    // // test
    // socket.on('msg1', function(data){
    //     console.info(data);
    // });
    // socket.on('allmessage',function(data) {
    //     console.log(data);
    // });
    // 已经转移到list.js中
    // document.querySelector('.btn').onclick=function(){
    //     var newContent=document.querySelector('.newContent').value;
    //     socket.emit('sendMsg',{
    //         newContent,
    //     })
    // }
    // document.querySelector('.btn').onclick=function(){
    //     var xhr=new XMLHttpRequest();
    //     var newContent=document.querySelector('.newContent').value;
    //     xhr.onreadystatechange=function(){
    //         if(xhr.readyState===4){
    //             if(xhr.status===200){
    //                 // console.info(xhr.responseText);
    //                 // 转化为JSON数组 其实就是列表渲染
    //                 var arr = JSON.parse(xhr.responseText);
    //                 var html = '<ul>';
    //                 for (var i = 0; i < arr.length; i++) {
    //                     html += '<li>' + arr[i].username + ':' + arr[i].content +'</li>'
    //                 }
    //                 html += '</ul>';
    //                 document.querySelector('.box').innerHTML = html;
    //             }
    //         }
    //     };
    //     xhr.open('post','/send');
    //     // 发送post请求的时候必须修改请求消息头部，且在打开网址之后
    //     xhr.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
    //     xhr.send('msg='+newContent);
    // }
</script>
<script type="text/javascript" src="list_socket.js"></script>
<script type="text/javascript" src="list.js"></script>
</body>
</html>